@import "../../../assets/styles/variables";

.search-box {
  .input-wrapper {
    position: relative;
    height: 30px;
    width: 260px;

    input {
      height: 100%;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 36px 0 12px;
      border: 1px solid $color-border;
      color: $color-text-dark;
      background-color: $color-bg;
      outline: none;
    }

    .icon {
      position: absolute;
      height: 100%;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      color: $color-search-icon;

      .clear {
        cursor: pointer;
      }
    }
  }
}
