$color-star: #FFC107;
$color-star-hover: #ffe925;
$color-border: #D0D2D3;
$color-border-dark: #4f4848;
$color-search-icon: #D0D2D3;
$color-text-dark: #2E2E2E;
$color-text-bright: #FFFFFF;
$color-outline: #c6e5ee;
$color-bg: #FFFFFF;
$color-bg-dark: #1a1a1a;
$color-bg-black: black;
